<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>H1.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,4},{241,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,14},{241,280}}</string>
                <key>sourceSize</key>
                <string>{345,308}</string>
            </dict>
            <key>H2.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,716},{240,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,200}}</string>
                <key>sourceSize</key>
                <string>{240,200}</string>
            </dict>
            <key>H3.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,472},{240,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,200}}</string>
                <key>sourceSize</key>
                <string>{240,200}</string>
            </dict>
            <key>H4.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,266},{240,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,200}}</string>
                <key>sourceSize</key>
                <string>{240,200}</string>
            </dict>
            <key>H5.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,318},{240,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,200}}</string>
                <key>sourceSize</key>
                <string>{240,200}</string>
            </dict>
            <key>L1.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,524},{128,132}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,34},{128,132}}</string>
                <key>sourceSize</key>
                <string>{240,200}</string>
            </dict>
            <key>L2.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,604},{106,136}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,29},{106,136}}</string>
                <key>sourceSize</key>
                <string>{240,200}</string>
            </dict>
            <key>L3.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,266},{150,144}}</string>
                <key>offset</key>
                <string>{10,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,25},{150,144}}</string>
                <key>sourceSize</key>
                <string>{240,200}</string>
            </dict>
            <key>L4.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,4},{80,138}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,30},{80,138}}</string>
                <key>sourceSize</key>
                <string>{240,200}</string>
            </dict>
            <key>L5.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,422},{176,136}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,30},{176,136}}</string>
                <key>sourceSize</key>
                <string>{240,200}</string>
            </dict>
            <key>bgSc.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,251},{277,256}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,27},{277,256}}</string>
                <key>sourceSize</key>
                <string>{345,308}</string>
            </dict>
            <key>bgScMulti.png</key>
            <dict>
                <key>frame</key>
                <string>{{633,4},{277,256}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,31},{277,256}}</string>
                <key>sourceSize</key>
                <string>{345,308}</string>
            </dict>
            <key>sc.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{337,308}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{337,308}}</string>
                <key>sourceSize</key>
                <string>{345,308}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>symbol.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d2952bf06cb8f56a41b2ff8829450df2:1/1$</string>
            <key>textureFileName</key>
            <string>symbol.png</string>
        </dict>
    </dict>
</plist>
